<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="com.galp.plugins.bipdrive" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>GalpBipDrive</name>
  <description>Galp Cordova Plugin Bip &amp; Drive</description>
  <author>Galp Inc</author>
  <js-module name="GalpBipDriveImpl" src="www/GalpBipDriveImpl.js">
    <clobbers target="cordova.plugins.GalpBipDriveImpl"/>
  </js-module>

  <preference name="BDRIVE_APP_ID" default="appId" value="" />
  <preference name="BDRIVE_APP_KEY" default="appKey" value="" />
  <preference name="BDRIVE_CLIENT_ID" default="clientId" value="" />

  <platform name="android">

    <config-file target="res/values/strings.xml" parent="/*">
        <string name="AppId">$BDRIVE_APP_ID</string>
    </config-file>
    <config-file target="res/values/strings.xml" parent="/*">
        <string name="TypeId">$BDRIVE_APP_KEY</string>
    </config-file>
    <config-file target="res/values/strings.xml" parent="/*">
        <string name="TypeId">$BDRIVE_CLIENT_ID</string>
    </config-file>

    <source-file src="src/android/com/galp/plugins/bipdrive/GalpBipDriveImpl.java" target-dir="src/com/galp/plugins/bipdrive"/>

    <framework src="build-extras-bipdrive.gradle" custom="true" type="gradleReference" />
    <resource-file src="src/android/libs/BipDriveCore.aar" target="libs/BipDriveCore.aar" />
    <resource-file src="src/android/libs/BipDriveParkingMeter.aar" target="libs/BipDriveParkingMeter.aar" />
  </platform>

  <platform name="ios">
    <preference name="IOS_INIT_ON_LOAD" default="true" />
    <dependency id="cordova-plugin-add-swift-support@2.0.2"/>
    <config-file parent="/*" target="config.xml">
      <feature name="GalpBipDriveImpl">
        <param name="ios-package" value="GalpBipDriveImpl"/>
      </feature>
      <preference name="deployment-target" value="13.0" />
      <preference name="SwiftVersion" value="5" />
    </config-file>

    <config-file target="*-Info.plist" parent="BDriveAppId">
        <string>$BDRIVE_APP_ID</string>
    </config-file>
    <config-file target="*-Info.plist" parent="BDriveAppKey">
        <string>$BDRIVE_APP_KEY</string>
    </config-file>
    <config-file target="*-Info.plist" parent="BDriveAppClient">
        <string>$BDRIVE_CLIENT_ID</string>
    </config-file>

    <source-file src="src/ios/GalpBipDriveImpl.swift"/>

    <framework src="libs/iOS/Device/BipDriveCore.framework" custom="true" embed="true"/>
    <framework src="libs/iOS/Device/BipDriveParkingmeters.framework" custom="true" embed="true"/>
    <framework src="libs/iOS/Device/TPVVInLibrary.framework" custom="true" embed="true"/>

    <podspec>
      <config>
          <source url="https://github.com/CocoaPods/Specs.git" />
      </config>
        <pods use-frameworks="true">
            <pod name="Alamofire"/>
            <pod name="AlamofireImage" spec="~> 4.1" />
            <pod name="CocoaMQTT"/>
            <pod name="GooglePlaces"/>
            <pod name="MaterialShowcase"/>
            <pod name="ObjectMapper"/>
            <pod name="SwiftKeychainWrapper"/>
        </pods>
    </podspec>
  </platform>
</plugin>